{{page-title "Cart"}}
<main class="container mt-5">
    <h1>Your Cart</h1>
    <ol class="breadcrumb">
        <LinkTo @route="index">
            Home
        </LinkTo>
        
        <li class="breadcrumb-item">Your Cart</li>
    </ol>
    <section class="w-50 ml-auto text-right mb-5">
        <div class="row">
            <span class="col">Subtotal</span>
            <span class="col">{{this.subtotal}}</span>
        </div>
        <div class="row">
            <span class="col">Tax</span>
            <span class="col">{{this.tax}}</span>
        </div>
        <div class="row">
            <span class="col">Total</span>
            <span class="col">{{this.total}}</span>
        </div>
    </section>
    <button type="button" class="btn btn-success float-right">
        Check out
    </button>
</main>
{{outlet}}